@import 'tailwindcss';

@theme {
  --color-primary: #d54a1e;
  --color-secondary: #1ea9d5;
  --color-header: rgba(30, 169, 213, 0.5);
  --color-black: #333333;
  --color-white: #fff;
  --color-menu: rgba(51, 51, 51, 0.5);
  --text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dmsans);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 0.5em;
}

h2 {
  font-size: 1.802rem;
}

h3 {
  font-size: 1.602rem;
}

h4 {
  font-size: 1.424rem;
}

h5 {
  font-size: 1.266rem;
}

h6 {
  font-size: 1.125rem;
}

body {
  font-family: var(--font-abel);
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-black);
}
